body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app {
  display: flex;
  flex-direction: row;
  height: 98vh;
  width: 100vw;
}

#sidebar-container {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.checkbox {
  display: flex;
  flex-direction: row;
  width: 80%;
  position: relative;
}

.checked {
  background-color: black;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: solid 1px black;
  margin-top: 1px;
}
.checked:hover {
  cursor: pointer;
}
.unchecked:hover {
  cursor: pointer;
}
.unchecked {
  background-color: rgb(208, 208, 208);
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-top: 1px;
  border: solid 1px black;
}
.name-checked:hover {
  cursor: pointer;
}
.name-unchecked {
  color: grey;
}
.name-unchecked:hover {
  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.pointer-line {
  height: 1px;
  width: 30%;
  margin-top: 6px;
  border: solid 1px rgb(96, 96, 96);
}

#menu-sidebar {
  width: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

#map-container {
  border: solid black 1px;
  margin: 1px;
  width: 75%;
  /* height: 100%; */
}
